/CalculadoraFX/nbproject/private/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/JavaApplication13/nbproject/private/
/JavaApplication13/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/