/CalculadoraFX/nbproject/private/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
/JavaApplication13/nbproject/private/
/JavaApplication13/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/LeitorDePensamento/nbproject/private/
/LeitorDePensamento/build/
/ProgramaMedoa/nbproject/private/
/ProgramaMedoa/build/
/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/build/
/Contador01/nbproject/private/
/Contador01/build/
/Contador02/nbproject/private/
/Contador02/build/
/Repeticao01/nbproject/private/
/Repeticao01/build/
/Numeros/nbproject/private/
/Numeros/build/